h1 {
    background-color: orange;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    color: white;
    width: 355px;
    padding: 15px;
    text-align: center;
}

body {
    background-image: url("../images/5.jpg");
}

.paragraph {
    background-color: bisque;
    width: 555px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    color: green;
    padding: 5px;
}

#autonumber {
    background-color: green;
    margin-top: 10px;
    width: 255px;
    height: 120px;
    font-size: 30px;
    color: black;
    font-family: 'Times New Roman', Times, serif;
}

#winslosses {
    background-color: aqua;
    margin: 10px 0px 0px 10px;
    height: 120px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
}

#yourscore {
    background-color: teal;
    color: white;
    font-family: 'Times New Roman', Times, serif;
    width: 255px;
}

#score {
    font-size: 30px;
    font-family: 'Times New Roman', Times, serif;
    background-color: green;
    width: 255px;
    height: 110px;

}
